/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 25px;
}

.mode-container {
  text-align: center;
  border-radius: 10px;
  padding: 25px;
  border-style: solid;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.heading {
  font-family: 'Roboto';
  font-size: 15px;
}

.mode-btn {
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 10px;
  border-style: solid;
}
